# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Save files
*~
*\#
\.\#*

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


*.gr
*.gz
swga/cliquer/swga
swga/cliquer/cl2
swga/cliquer/cl
selected-mers
