[filter_primers]
# Max times a primer can bind to the background genome
max_bg_binding = 12000
# Maximum primers to select after filtering
num_primers = 200

[fg_locations]
# Location of flattened foreground genome (use
# utils/fasta_flattener.sh) 
fg_genome = ''
# name of the file to store binding locations
fg_bind_locations = 'fg_locations.gz'

[make_graph]
# Number of consecutive complimentary bases allowed between two
# primers 
max_hetdimer_bind = 3

[find_sets]
# minimum number of primers in a set
min_size = 2
# maximum number of primers in a set
max_size = 7
# minimum average distance between primers in the background genome 
min_bg_bind_dist = 30000
# length of background genome
bg_genome_len = 3000000000
# location of the set finder binary
set_finder = 'cliquer/swga'

[process_sets]
fg_bind_locations = 'fg_locations.gz'
max_fg_bind_dist = 10000
max_sets = 500

# no parameters yet